[program:storm-nimbus]
command=/usr/local/etc/storm/bin/storm nimbus
user=storm
autostart=true
autorestart=true
startsecs=15
startretries=999
log_stdout=true
log_stderr=true
logfile=/usr/local/etc/storm/logs/nimbus.out
logfile_maxbytes=20MB
logfile_backups=9